* {
  padding: 0;
  margin: 0;
}

.background-container {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 90px;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url('../../img/bgc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(0.5);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

.text-overlay h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-overlay p {
  font-size: 18px;
  margin-left: 40px;
  color: #ffb618;
}

.text-overlay button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}

.text-overlay button:hover {
  background-color: bisque;
  border-color: #ffb618;
  color: #333;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.benefit-item {
  text-align: center;
  max-width: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.benefit-item:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.icon {
  font-size: 40px;
  color: #2c3e50;
  transition: transform 0.3s ease; 
}

.benefit-item:hover .icon {
  transform: scale(1.2); 
}

h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

p {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}
